@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

.media-scroller {
  --spacer: 1rem;

  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column; /* flow against columns. Will have each child as a one column in the same row */
  grid-auto-columns: 21%; /* Better have the number not able to be divided into whole number so user knows there is more to come */

  padding: 0 var(--spacer) var(--spacer);

  overflow-x: auto;

  /* If you are scrolling within this class, you cannot scroll other element. Because sometimes when you scroll to the end (right or bottom) it will force to scroll other element.
     This is not supported in safari
  */
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  border: 2px solid hotpink;
  grid-auto-columns: 100%; /* override the one in .media-scroller */
}
.media-group {
  border: 2px solid limegreen;

  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content; /* this will make sure the top of the <p> align vertically for each child card */
  gap: var(--spacer);

  padding: var(--spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  /* without this line, you will find out that you can move to the start of the parent. It will always snap to the start of the first image */
  scroll-padding-inline: var(--spacer, 1rem);
}
.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}
